.routes-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .route-input {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .route-input label {
    width: 50px;
  }
  
  .route-input .input-dropdown-wrapper {
    flex: 1;
  }
  